.container {
    height: 500px;
    width: 500px;
    border-style: solid;
    border-width: 2px;
}

.main1 {
    height: 300px;
    width: 500px;
}
.item1, .item2, .item3 {
    height: 270px;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    margin: 10px;
}
.item1, .item2{
    width: 120px;
}
.item3 {
    width: 180px;
}

.main2{
    height: 160px;
    width: 470px;
    border-style: solid;
    border-width: 2px;
    margin: 10px;
}
.section1, .section2, .section3 {
    height: 130px;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    margin: 15px;
}
.section1, .section2 {
    width: 100px;
}
.section3{
    width: 150px;
}
